body {
    background-color: #f0f0f0;
    font-family: Helvetica, Arial, -apple-system, sans-serif;
}

h1 {
    margin: 48px 0;
}

.container {
    margin: 32px auto;
    max-width: 1024px;
    background-color: #fff;
    padding: 32px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
}

a[type="button"], button {
    background-color: #4e8efd;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
}

a[type="button"]:hover, button:hover {
    background-color: #2753a3;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

label {
    margin-bottom: 8px;
    opacity: .75;
}

input, textarea {
    border: 1px solid #e0e0e0;
    padding: 12px 16px;
    border-radius: 6px;
}

textarea {
    height: 100px;
}